.catalog {
    flex: 0 1 76.223%;  

    &__header {}

    &__header-list {}

    &__body {
        padding: 0 26px 0;
    }
}

.catalog-descr {

    &__title {
        color: $blue;
        font-size: 24px;
        margin: 21px 0 14px 0;
    }

    &__text {
        font-size: 18px;
        margin: 0;
    }
}

.catalog-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 7px;
}

.catalog-item {
    flex: 0 1 31.33%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    margin: 26px 0 0 0;
    position: relative;
    &__header {
        width: 100%;
        position: relative;
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__favorite {
        cursor: pointer;
        background-color: transparent;
        padding: 0;
        border: none;
        transition: .3s;
        width: 30px;
        height: 30px;
        &:hover {
            transform: scale(1.05);

        }

        &:active {
            transform: scale(.8);
        }
    }

    &__body {
        padding: 13px 17px 0;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        color: $blue;
    }

    &__title-text {
        font-weight: 700;
        font-size: 20px;
        color: #000;
        margin: 0;
    }

    &__title-info {
        display: flex;
        align-items: center;
    }

    &__title-icon {
        width: 17px;
        height: 20px;
        margin: 0 0 0 rem(12);
    }

    .catalog-item__phone {
        max-width: none;
        margin: 0;
    }

    &__phone {
        margin: 0 0 0 rem(57);
        max-width: 172px;
        width: 100%;
        padding: 7px 17px;
        background: $blue;
        border-radius: 10px;
        text-decoration: none;
        color: #fff;
        display: flex;
        align-items: center;
        transition: .3s;
        font-size: rem(18);
        &:hover {
            opacity: .9;
        }
    }

    .catalog-item__phone-icon {
        margin-right: 18px;
    }

    &__phone-icon {
        width: 22px;
        height: 19px;
        margin-top: -4px;
        margin-right: 9px;
        fill: #fff;
    }

    &__location {
        display: flex;
        margin: 10px 0 7px;
    }

    &__location-icon {
        fill: #FF005C;
        width: rem(30);
        height: rem(27);
        margin-right: 5.7px;
    }

    &__location-text {
        color: #FF005C;
    }

    &__list {
        list-style: none;
        margin: 16px 0 13px 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        position: relative;

        &.catalog-item__list_border {
            &::after, &::before {
                content: "";
                position: absolute;
                width: 116%;
                height: 1px;
                background-color: #EEEEEE;
            }
            &::after {
                top: 0;
            }
            &::before {
                bottom: 0;
            }
            .catalog-item__list-item {
                &:first-child {
                    border-right: 1px solid #EEEEEE;
                }
            }
        }
    }

    &__list-item {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 10px 0;
    }

    &__list-name {
        color: #000;
        flex: 0 1 1;
        background-color: #fff;
    }

    &__list-cur {
        color: $blue;
        font-weight: 700;
        min-width: 40px;
        display: flex;
        justify-content: center;
        &_price {
            &::after {
                content: "";
                background-image: url("../images/graphics/icons/rub.svg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                margin-top: 5px;
                margin-left: 2px;
                width: 9.92px;
                height: 12.75px;
            }
        }
    }

    &__list-icon {
        width: 60%;
        height: 40px;
        fill: #D9D9D9;
        &_height {
            transform: scale(1.5);
        }
    }

    &__tags {
        display: flex;
        justify-content: space-between;
    }
    
    &__ui {
        margin: 27px 0 18px 0;
        display: flex;
        list-style: none;
        align-items: center;
        padding: 0 12px;
        justify-content: space-between;
    }

    &__ui-item {
    }

    &__ui-link {
        display: block;
        max-width: 50px;
        max-height: 50px;
        svg {
            width: 60%;
            height: 50px;
            fill: #D9D9D9;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}
.btn {
}

.tag {}

.main-top-menu {
    width: 100%;
    padding: 17px 0 14px 34px;
    position: relative;

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        padding-bottom: 12px;
        padding: 0 3px 12px 5px;
        &.active  {
            border-bottom: 1px solid #FF005C;
            a{
                color: $blue;
            }
        }
    }

    &__icon {
        width: 9%;
        fill: $blue;
        display: none;
    }

    &__link {
        color: $disactive;
    }
}
