.sidebar {
    flex: 0 1 23.777%;

    &__header {
        background: $blue;
        padding: 14px 21px;
        display: flex;
        align-items: center;

        box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.08);
        border-radius: 7px;
    }

    &__header-burger {
        width: 18px;
        height: 12px;
        fill: #fff;
    }

    &__header-text {
        color: #fff;
        font-size: rem(20);
        margin: 0 0 0 26px;
    }

    &__header-arrow {
        fill: #fff;
        width: 11.77px;
        height: 20px;
        margin-left: auto;
        transform: rotateZ(90deg);
    }

    &__types {
        padding: 24px 0 0 0;
    }

    &__types-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__types-item {
        margin: 8px 0 0 0;
        padding: 12px 29px;
        align-items: center;
        box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.08);
        border-radius: 7px;
        display: flex;
        &:first-child {
            margin: 0 0 0 0;
        }
    }

    &__types-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $blue;
    }

    &__types-icon {
        width: 30px;
        height: 30px;
        margin: 0 25px 0 0;
        fill: $blue;
        color: #fff;
    }

    &__filters {
        box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.08);
        border-radius: 7px;
        border-radius: 7px;
        padding: 24px 27px 31px 27px;
        margin: 7px 0 0 0;
    }

    &__tags {
        box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.08);
        border-radius: 7px;
        border-radius: 7px;
        padding: rem(29) rem(25);
        margin-top: 25px;

    }

    &__filters-sub {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

.sidebar-filters {
    position: relative;

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__item {
        margin-top: 25px;
        cursor: pointer;
        position: relative;

        &:first-child {
            margin-top: 0;
        }

        &:hover  {
            .sidebar-filters__item-icon {
                fill: $blue;
            }
            .sidebar-filters-sub__list {
                opacity: 1;
                visibility: visible;
                transform: translateX(0);
            }
        }
    }

    &__item-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item-text {}

    &__item-icon {
        width: 11.78px;
        height: 18px;
        transition: .1s;
    }
}

.sidebar-filters-sub {
    &__list {
        border: 1px solid rgba(73, 38, 232, 0.17);
        border-radius: 7px;
        display: block;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: -3px;
        right: -298px;
        transition: .3s;
        list-style: none;
        padding: rem(21) rem(26) rem(26) rem(21);
        margin-top: rem(-22);
        transform: translateX(-5px);
        width: 270px;
        z-index: 5;
        background-color: #fff;

        &.ul-columns {
            column-count: 2;
        }
    }

    &__item {
        margin-top: 25px;

        &:first-child {
            margin-top: 0;
        }
    }

    &__link {
        color: #000;
    }
}

.sidebar-tags {

    &__text {
        color: $blue;
    }

    &__item {}

    &__item-list {
        list-style: none;
        padding: 0;
        margin: 20px 0 0 0;
    }

    &__item-list-item {
        margin-top: 10px;

        &:first-child {
            margin-top: 0;
        }
    }

    &__item-list-link {
        color: #000;
        font-size: rem(18);
    }
}

.sidebar-tags-item {

    &__title {
        display: flex;
        align-items: center;
        padding: 7px;
        background: rgba(73, 38, 232, 0.07);
        border-radius: 4px;
        color: $blue;
        font-weight: 700;
        margin: 20px 0 0 0;
    }

    &__icon {
        width: 10.3%;
        height: 25px;
        margin-right: 19.6px;
        fill: $blue;
    }
}